.navbar{
background-color:	#a9b5aa;
border-radius: 10px;
border: 1px solid black; 
}


.dropdown-menu{
margin-left: 65%;
}


.img-selfie{
    height: 300px;
}


.logo{
    border-radius: 10px;
}


.footer{
    
    background-color:	#a9b5aa;
    border-radius: 10px;
    border: 1px solid black;
}


.btn{
    background-color: white;
    color: black;
    width: 96%;
    margin-left: 2%;
}


.color{
    background-color: #a9b5aa;
    border-radius: 10px;
}


.form{  
    border-radius: 10px;
    border: 1px solid black;
}


.contact{
    border: 1px solid black;
    border-radius: 10px;
}


a, a:hover{
    color: black;
}


.indexpage{
    width: 96%;
    border-radius: 10px;
    border: 1px solid black;
}

.artikel{
    border: 1px solid black;
    border-radius: 10px;
}

