.achtergrond{
    width: 99%;
    height: 99%;
    background-color: #098fe8;
    margin: 0px auto;
    border-radius: 10px;
}
.navbar{
margin-top: 0.5%;
background-color:	#098fe8;
border-radius: 10px;

}
.navbar-brand{
    padding-left: 1%;
    
}
.logo{
    border-radius: 10px;
   
}

.container{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 3%;
   
}
.footer{
    text-align: center;
}